@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" type="text/css" href="~/Content/test.css" />
<div class="section-5">
    <div class="cont-39">
        <div class="colwrapper-18">
            <div class="cont-40">
                <img src="~/Content/images/banbs.png" alt="" class="img-8">
            </div>
            <div class="cont-41">
                <div class="cont-42"><p class="para-3"><span class="font-3">Shark Tank on the web.</span></p></div>
            </div>
        </div>
    </div>
    <div class="cont-43">
        <div class="cont-44"><p class="para-4"><span class="font-4">About Us</span></p></div>
    </div>
    <div class="cont-45">
        <div class="colwrapper-19">
            <div class="cont-46">
                <img src="~/Content/images/hand.jpg" alt="" class="img-9">
            </div>
        </div>
        <div class="colwrapper-20">
            <div class="cont-47">
                <div class="cont-48"><p class="para-5"><span class="font-5">Busicious </span><span class="font-6"> is a professional social networking website for businesses. Its a well-thought-out platform helping startup companies grow and succeed by connecting them to their potential investors. It is the only platform for an investor to browse through, and connect to a list of startup companies based on their ratings and comments. Sign up and start connecting!</span></p></div>
            </div>
        </div>
    </div>
</div>
