@model ProjectDBModel.Account
@{
    ViewBag.Title = "RegisterSuccess";
}



<div>
    <h2>Successfully Registered</h2>

</div>
<div>
    @Html.ActionLink("Home", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

